<!DOCTYPE html>
<html ng-app="userApp">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        <link rel="shortcut icon" href="./imafavicon.ico" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
        <link rel="stylesheet" href="styles.css" type="text/css">

    </head>
    <body ng-controller="mainCtrl" class="background">
         <div class="mid" >
            <h1 class="letter" id="Joel" onMouseover="changeColor()" onMouseout="revertColor()">Joel's Users</h1>
        </div>
       <div class="mid2">
            <img src="./images/bruce.jpg" id="hulkSmash" onClick="picChange();" onMouseout="picRevert();" alt="">
        </div>
        <div class="mid">
            <input type="text" ng-model="Anjel" placeholder="MV*">
            <h4>{{ makeUpperCase() }}</h4>
        </div>
        <div class="mid">
            <form>
                <input type="field" placeholder="firstName" ng-model="newUser.firstName">
                <input type="field" placeholder="lastName" ng-model="newUser.lastName">
                <input type="field" placeholder="dateOfBirth" ng-model="newUser.dateOfBirth">
                <input type="field" placeholder="zipCode" ng-model="newUser.zipCode">
                <input type="submit" ng-click="addUser(newUser)" value="add" class="btn btn-primary">
            </form>
            <!-- <button class="btn btn-primary" ng-click="addUser(newUser)">Add</button> -->
        </div>
        <div class="row">
          <div style="padding-top:0;" class="positionList">
            <div class="list-group">
              <a ng-click="openSee(client)" ng-repeat="user in users | filter: findFriend.firstName" class="list-group-item">
                <div class="row">
                  <div class="col-xs-2">{{user.firstName}}</div>
                  <!-- <div class="col-xs-2">{{client.address}}</div> -->
                  <div class="col-xs-2">{{user.lastName}}</div>
                  <div class="col-xs-2">{{user.dateOfBirth}}</div>
                  <div class="col-xs-2">{{user.zipCode}}</div>
                  <div class="col-xs-2 dashDelete">  <div class="deleteButton pull-right"><button ng-click="confirmDeletion(user._id)" class="btn btn-primary">delete</button></div></div>     
                </div>
              </a>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
        <script src="./javascript/vanilla.js"></script>
        <script src="./javascript/app.js"></script>
        <script src="./javascript/mainCtrl.js"></script>
        <script src="./javascript/factory.js"></script>
    </body>
</html