<!DOCTYPE html>
<html ng-app="userApp">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        <!-- <link rel="shortcut icon" href="./favicon.ico" type="image/vnd.microsoft.icon"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
        <link rel="stylesheet" href="styles.css" type="text/css">

    </head>
    <body ng-controller="mainCtrl" class="background">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><strong>User</strong></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#idOfTarget">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="idOfTarget">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container theTop">
            <div class="mid" >
                <h1 class="letter well" id="Joel" onMouseover="changeColor()" onMouseout="revertColor()">Joel's Users</h1>
            </div>
            <div class="mid2">
                <img src="./images/bruce.jpg" class="img-responsive" id="hulkSmash" onClick="picChange();" onMouseout="picRevert();" alt="">
            </div>
            <div class="well mid">
                <input type="text" ng-model="Anjel" placeholder="MV*">
                <h4>{{ makeUpperCase() }}</h4>
            </div>
            <div class="well mid">
                <form>
                    <input type="field" placeholder="firstName" ng-model="newUser.firstName">
                    <input type="field" placeholder="lastName" ng-model="newUser.lastName">
                    <input type="field" placeholder="dateOfBirth" ng-model="newUser.dateOfBirth">
                    <input type="field" placeholder="zipCode" ng-model="newUser.zipCode">
                    <input type="submit" ng-click="addUser(newUser)" value="add" class="btn btn-success">
                </form>
                <!-- <button class="btn btn-primary" ng-click="addUser(newUser)">Add</button> -->
            </div>
            <div>
              <div style="padding-top:0;" class="positionList">
                <div class="list-group">
                  <a ng-click="openSee(client)" ng-repeat="user in users | filter: findFriend.firstName" class="list-group-item">
                    <div class="row">
                      <div class="col-xs-2 col-xs-offset-2">{{user.firstName}}</div>
                      <!-- <div class="col-xs-2">{{client.address}}</div> -->
                      <div class="col-xs-2">{{user.lastName}}</div>
                      <div class="col-xs-2">{{user.dateOfBirth}}</div>
                      <div class="col-xs-2">{{user.zipCode}}</div>
                      <div class="col-sm-2 dashDelete">  <div class="deleteButton pull-right"><button ng-click="confirmDeletion(user._id)" class="btn btn-warning">delete</button></div></div>     
                    </div>
                  </a>
                </div>
              </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
        <script src="./javascript/vanilla.js"></script>
        <script src="./javascript/app.js"></script>
        <script src="./javascript/mainCtrl.js"></script>
        <script src="./javascript/factory.js"></script>
    </body>
</html